Client/Service References/ServiceReference2/ZodiacDate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://example.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://example.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://example.com/">
      <s:element name="GetSign">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="month" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="day" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSignResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSignResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSignSoapIn">
    <wsdl:part name="parameters" element="tns:GetSign" />
  </wsdl:message>
  <wsdl:message name="GetSignSoapOut">
    <wsdl:part name="parameters" element="tns:GetSignResponse" />
  </wsdl:message>
  <wsdl:portType name="ZodiacDateSoap">
    <wsdl:operation name="GetSign">
      <wsdl:input message="tns:GetSignSoapIn" />
      <wsdl:output message="tns:GetSignSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZodiacDateSoap" type="tns:ZodiacDateSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSign">
      <soap:operation soapAction="http://example.com/GetSign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZodiacDateSoap12" type="tns:ZodiacDateSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSign">
      <soap12:operation soapAction="http://example.com/GetSign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZodiacDate">
    <wsdl:port name="ZodiacDateSoap" binding="tns:ZodiacDateSoap">
      <soap:address location="http://localhost:53351/ZodiacDate.asmx" />
    </wsdl:port>
    <wsdl:port name="ZodiacDateSoap12" binding="tns:ZodiacDateSoap12">
      <soap12:address location="http://localhost:53351/ZodiacDate.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>