PostcodeClient/Service References/PCFinder/PostCodeFinder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://example.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://example.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://example.com/">
      <s:element name="GetPostCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPostCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPostCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetPostCode" />
  </wsdl:message>
  <wsdl:message name="GetPostCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetPostCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="PostCodeFinderSoap">
    <wsdl:operation name="GetPostCode">
      <wsdl:input message="tns:GetPostCodeSoapIn" />
      <wsdl:output message="tns:GetPostCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PostCodeFinderSoap" type="tns:PostCodeFinderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPostCode">
      <soap:operation soapAction="http://example.com/GetPostCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PostCodeFinderSoap12" type="tns:PostCodeFinderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPostCode">
      <soap12:operation soapAction="http://example.com/GetPostCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PostCodeFinder">
    <wsdl:port name="PostCodeFinderSoap" binding="tns:PostCodeFinderSoap">
      <soap:address location="http://localhost:53351/PostCodeFinder.asmx" />
    </wsdl:port>
    <wsdl:port name="PostCodeFinderSoap12" binding="tns:PostCodeFinderSoap12">
      <soap12:address location="http://localhost:53351/PostCodeFinder.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>